$blue: #427ff5;
$red: #fc6159;
$green: #29ca42;
$yellow: #fbc32f;
$radius: 5px;
$mainTextColor: #282c34;
$subTextColor: #6a737d;
$white: #fff;
$offWhite: #f1f3f4;
$border: #dfdfe0;
$border1: #dfdfe0;
$border2: #dee1e6;
$border3: #e6e6e6;
$border4: #f5f5f5;
$activeTabColor: $blue;
$quoteBgColor: #f6f8fa;
$oneDark: #282c34;
$oneLight: #f4f5f7;