<template>
  <div class="Footer">
    <p>
      © 2021 All Rights Reserved.
      <a href="https://eissa.xyz" target="_blank">Eissa Stock</a>
    </p>
  </div>
</template>

<script>
  export default class Footer {
    render() {}
  }
</script>

<style lang="scss">
  .Footer {
    height: 40px;
    line-height: 40px;
    background-color: $white;
    text-align: center;
    margin-top: 10px;
    user-select:none;
    p {
      a {
        text-decoration: none;
        color: $blue;
      }
    }
  }
</style>
