<template>
  <div class="Header"></div>
</template>

<script>
  import { debug, $ } from "olum-helpers";
  export default class Header {
    hArr = [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11];
    mArr = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
    dArr = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
    timeout = 1;

    render() {
      this.syncTime();
      setInterval(() => this.syncTime(), this.timeout * 60 * 1000);
    }

    syncTime() {
      const container = $(".Header");
      const date = new Date();

      // hours
      const hours = date.getHours();
      const hours_12 = this.hArr[hours];

      let hL = String(hours_12).length;
      let h = "";
      if (hL == 1) h = `0${hours_12}`;
      else h = `${hours_12}`;

      // detect am, pm
      let am_pm = "";
      if (hours >= 12) am_pm = "PM";
      else am_pm = "AM";

      // minutes
      const minutes = date.getMinutes();
      let mL = String(minutes).length;
      let m = "";
      if (mL == 1) m = `0${minutes}`;
      else m = `${minutes}`;

      // week days
      const day = date.getDay();

      container.innerHTML = `
        <section>
          <p>${this.dArr[day]} ${this.mArr[date.getMonth()]} ${date.getDate()},</p>
          <h1>
            ${h} : ${m}
            <span>${am_pm}</span>
          </h1>
        </section>
      `;
    }
  }
</script>

<style lang="scss">
  $fontSize: "17px";
  .Header {
    user-select: none;
    padding: 20px 0;
    section {
      overflow: hidden;
      text-align: center;
      color: $white;

      p {
        font-size: unquote($fontSize);
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        text-transform: capitalize;
      }
      h1 {
        font-size: unquote($fontSize);
        font-weight: bold;
        display: inline-block;
        span {
          font-weight: bold;
          text-transform: uppercase;
          font-size: unquote($fontSize);
        }
      }
    }
  }
</style>
