<template>
  <div class="Nav">
    <!-- logo -->
    <a to="/" class="Nav__logo">
      <img src="${logo}" alt="logo" />
      <span>my note</span>
    </a>
    <!-- mode -->
    <button type="button" class="Nav--modeBtn"><img src="${moon}" alt="mode" /></button>
  </div>
</template>

<script>
  import { debug, $ } from "olum-helpers";
  import logo from "../../assets/logo.svg";
  import moon from "../../assets/moon.svg";
  import sun from "../../assets/sun.svg";

  export default class Nav {

    render() {
      const modeBtn = $(".Nav--modeBtn");
      const img = $(modeBtn).get("img");
      this.initial(img);
      modeBtn.on("click", () => this.toggleMode(modeBtn, img));
    }

    checker() {
      let item;
      if (localStorage.getItem("darkMode") === null) {
        localStorage.setItem("darkMode", false);
        item = false;
      } else {
        item = JSON.parse(localStorage.getItem("darkMode"));
      }
      return item;
    }

    initial(img) {
      const isDarkmode = this.checker();
      if (isDarkmode) {
        img.src = sun;
        $("body").classList.add("darkMode");
      } else {
        img.src = moon;
        $("body").classList.remove("darkMode");
      }
    }

    toggleMode(btn, img) {
      // animate
      btn.classList.remove("animateMode");
      setTimeout(() => btn.classList.add("animateMode"), 0);
      // switch
      this.hasDarkMode = !!$("body").classList.contains("darkMode");
      if (this.hasDarkMode) {
        $("body").classList.remove("darkMode");
        img.src = moon;
        localStorage.setItem("darkMode", false);
      } else {
        $("body").classList.add("darkMode");
        img.src = sun;
        localStorage.setItem("darkMode", true);
      }
    }
  }
</script>

<style lang="scss">
  .Nav {
    min-height: 50px;
    user-select: none;

    &__logo {
      line-height: 50px;
      float: left;
      color: $white;
      padding: 0 20px;
      img {
        height: 30px;
        margin: 10px 0;
        vertical-align: bottom;
        float: left;
      }
      span {
        float: left;
        padding-left: 10px;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: bold;
      }
    }

    &--modeBtn {
      height: 30px;
      float: right;
      margin: 10px 20px;
      img {
        height: 100%;
      }
      &.animateMode {
        animation: mode 0.6s cubic-bezier(0.19, 0.54, 0, 1.52);
      }
    }
  }

  @keyframes mode {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
