<template>
  <div class="Features">
    <App-Nav />
    <App-Header />
    <div class="innerFeatures"><ul></ul></div>
    <App-Footer />
  </div>
</template>

<script>
  import Nav from "../components/layout/nav";
  import Header from "../components/layout/header";
  import Footer from "../components/layout/footer";
  import bg from "../assets/bg.webp";
  import { $ } from "olum-helpers";
  export default class Features {
    feats = ["Markdown editor", "Notes sorting", "Dark mode", "advanced search engine"];
    margin = 25;

    render() {
      this.buildFeats();
    }

    buildFeats() {
      const container = $(".innerFeatures ul");
      const feats = this.feats.map(item => `<li>${item}</li>`).join("");
      container.innerHTML = feats;
    }
  }
</script>

<style lang="scss">
  .Features {
    background-image: url(${bg});
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    .innerFeatures {
      background: $white;
      margin: 0 auto;
      border-radius: $radius;
      list-style-type: none;
      padding: 10px;
      padding-right: 3px;
      max-width: 450px;
      width: calc(100% - 20px);
      height: calc(100vh - 159px);
      > ul {
        overflow: auto;
        height: 100%;
        width: 100%;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: $blue;
        }

        &::-webkit-scrollbar-track {
          background: $border4;
        }
        li {
          min-height: 40px;
          margin-right: 10px;
          word-break: break-all;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid $border1;
          &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
</style>
