<template>
  <div class="Browser">
    <App-Tabs />
    <App-Search />
    <App-Notes />
    <App-AddNote />
  </div>
</template>

<script>
  import { $ } from "olum-helpers";
  import AddNote from "../components/addnote";
  import Search from "../components/search";
  import Tabs from "../components/tabs";
  import Notes from "../components/notes";

  export default class Browser {
    margin = 15;

    render() {
      const container = $(".Browser");
      window.on("resize", () => (container.style.width = "calc(100% - 20px)"));
    }
  }
</script>

<style lang="scss">
  .Browser {
    position: relative;
    margin: 0 auto;
    border-radius: $radius;
    transition: width 0.3s ease-in-out;
    width: calc(100% - 20px);
    height: calc(100vh - 159px);
  }
</style>
