<template>
  <div class="Config">
    <section class="Config__inner">
      <p class="Config__inner__text">
        <span>Backup</span>
        or
        <span>Fetch</span>
        your data in case you cleared browser cache or formated your device!
      </p>

      <button type="button" class="Config__inner--backupBtn">backup</button>
      <button type="button" class="Config__inner--updateBtn">fetch</button>

      <div class="Config__inner__dbhint">
        <h3>Database credentials</h3>
        <p>Your credentials will be stored in your localstorage</p>
      </div>

      <form>
        <div>
          <label>Firebase</label>
          <i>leave it blank to enable gist</i>
          <input id="endpoint" type="text" placeholder="Enter endpoint" />
        </div>
        <div>
          <label>Gist</label>
          <input id="github_token" type="text" placeholder="Enter github token" />
          <input id="gist_id" type="text" placeholder="Enter gist id" />
          <input id="gist_filename" type="text" placeholder="Enter gist filename" />
        </div>
        <button type="submit">save</button>
      </form>
    </section>
  </div>
</template>

<script>
  import { $, Origin, debug } from "olum-helpers";
  import api from "../services/api.js";

  export default class Config {
    margin = 15;
    fileType = "application/json";

    render() {
      this.origin = new Origin();
      this.file = document.createElement("input");
      this.file.type = "file";
      this.file.accept = this.fileType;
      const backupBtn = $(".Config__inner--backupBtn");
      const updateBtn = $(".Config__inner--updateBtn");

      backupBtn.on("click", () => this.backup());
      updateBtn.on("click", () => this.update());
      // updateBtn.on("click", () => this.file.click());
      // this.file.on("change", e => this.update(e));
      this.credentials();
    }

    credentials() {
      const form = $(".Config form");
      const endpoint = $(form).get("#endpoint");
      const github_token = $(form).get("#github_token");
      const gist_id = $(form).get("#gist_id");
      const gist_filename = $(form).get("#gist_filename");

      const storageObj = api.getCredentials();
      if (storageObj !== null) {
        endpoint.value = storageObj.endpoint || "";
        github_token.value = storageObj.github_token || "";
        gist_id.value = storageObj.gist_id || "";
        gist_filename.value = storageObj.gist_filename || "";
      }

      form.on("submit", e => {
        e.preventDefault();
        const obj = {
          endpoint: endpoint.value.trim().replace(/\/+$/, "") || null,
          github_token: github_token.value.trim() || null,
          gist_id: gist_id.value.trim() || null,
          gist_filename: gist_filename.value.trim() || null,
        };
        api.setCredentials(obj);
        alert("Saved your credentials to localstorage");
      });
    }

    backup() {
      const data = api.get();
      if (data.length) {
        // const a = document.createElement("a");
        // const _file = new Blob([JSON.stringify(data)], { type: this.fileType });
        // a.href = URL.createObjectURL(_file);
        // a.download = `My Note ${this.currentTime()}.json`;
        // a.click();

        // cloud
        const storageObj = api.getCredentials();
        let endpoint = storageObj.endpoint || null;
        if (endpoint !== null) endpoint += "/data.json";

        // check db
        if (endpoint !== null) {
          // use firebase
          this.origin
            .put(endpoint, { body: data })
            .then(res => {
              debug(res);
              alert("backed up your data to 'Firebase'");
            })
            .catch(err => {
              console.error(err);
              alert("Error while backing up your data to 'Firebase'\n" + err);
            });
        } else {
          // use gist
          fetch(`https://api.github.com/gists/${storageObj.gist_id}`, {
            method: "PATCH",
            headers: {
              Authorization: `Bearer ${storageObj.github_token}`,
            },
            body: JSON.stringify({
              files: {
                [storageObj.gist_filename]: {
                  content: JSON.stringify(data),
                },
              },
            }),
          })
            .then(res => res.json())
            .then(data => {
              debug(data);
              alert("backed up your data to 'Gist'");
            })
            .catch(err => {
              console.error(err);
              alert("Error while backing up your data to 'Gist'\n" + err);
            });
        }
        debug(storageObj);
      } else {
        alert("No Data to Backup!");
      }
    }

    update(e) {
      // const reader = new FileReader();
      // reader.readAsText(e.target.files[0]);
      // reader.onload = e => api.updateStorage(e.target.result);

      // cloud
      const storageObj = api.getCredentials();
      let endpoint = storageObj.endpoint || null;
      if (endpoint !== null) endpoint += "/data.json";

      // check db
      if (endpoint !== null) {
        // use firebase
        this.origin
          .get(endpoint)
          .then(data => {
            api.updateStorage(data);
            debug(data);
            alert("fetched your data from 'Firebase'");
          })
          .catch(err => {
            console.error(err);
            alert("Error while fetching your data from 'Firebase'\n" + err);
          });
      } else {
        // use gist
        this.origin
          .get(`https://api.github.com/gists/${storageObj.gist_id}`)
          .then(data => {
            const _data = JSON.parse(data.files[storageObj.gist_filename].content);
            api.updateStorage(_data);
            debug(_data);
            alert("fetched your data from 'Gist'");
          })
          .catch(err => {
            console.error(err);
            alert("Error while fetching your data from 'Gist'\n" + err);
          });
      }
    }

    currentTime() {
      return new Date().toISOString().replace(/\..*/g, "").replace(/:/g, "-").replace(/T/g, " ");
    }
  }
</script>

<style lang="scss">
  .Config {
    position: relative;
    background: transparent;
    margin: 0 auto;
    padding: 10px;
    border-radius: $radius;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: calc(100% - 20px);
    height: calc(100vh - 159px);

    &__inner {
      text-align: center;
      background: $white;
      padding: 20px;
      border-radius: $radius;

      &__text {
        color: $subTextColor;
        margin-bottom: 20px;
        line-height: 25px;

        span {
          color: $blue;
          font-weight: bold;
        }
      }

      button {
        color: $white;
        width: 100px;
        height: 40px;
        line-height: 40px;
        border: 0;
        border-radius: $radius;
        margin: 5px;
        text-align: center;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
      }

      &--backupBtn {
        background-color: $red;
      }

      &--updateBtn {
        background-color: $green;
      }
      &__dbhint {
        margin: 20px 0;
        border-top: 1px solid $border;
        padding-top: 20px;
        p {
          margin-top: 10px;
        }
      }

      form {
        overflow: hidden;
        margin-top: 10px;

        > div {
          margin-top: 20px;
        }
        label {
          text-align: left;
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        i {
          text-align: left;
          display: block;
          font-size: 14px;
          color: $subTextColor;
        }
        input {
          height: 40px;
          outline: none;
          width: calc(100% - 60px);
          border-radius: $radius;
          display: block;
          border: 1px solid $border;
          text-indent: 10px;
          margin-top: 10px;
        }

        button {
          background: $blue;
          width: 50px;
          float: right;
          margin: 0;
        }
      }
    }
  }
</style>
