<template>
  <div class="Search">
    <!-- navigation -->
    <div class="navigation">
      <!-- back -->
      <button type="button" class="prevBtn">
        <img src="${prev}" alt="prevBtn" />
      </button>
      <!-- next -->
      <button type="button" class="nextBtn">
        <img src="${next}" alt="nextBtn" />
      </button>
    </div>

    <!-- select all -->
    <div class="selectAll">
      <label>
        <input type="checkbox" />
        <span class="check"></span>
      </label>
    </div>

    <!-- delete button -->
    <button type="button" class="delBtn">
      <img src="${trash}" alt="delBtn" />
    </button>
    <!-- search input -->
    <input type="text" class="searchInput" placeholder="Search Your Notes..." />

    <!-- matches -->
    <div class="searchMatches hide">
      <button class="exitSearch">&#10005;</button>
      <span class="matchesNum">999</span>
    </div>
  </div>
</template>

<script>
  import { $, debug, setTemp } from "olum-helpers";
  import delNote from "../services/delnote.js";
  import trash from "../assets/trash.svg";
  import prev from "../assets/prev.svg";
  import next from "../assets/next.svg";
  import { engine } from "../services/engine.js";
  import Tabs from "../components/tabs";

  export default class Search {
    isTabNavigatable = true;

    render() {
      this.Tabs = new Tabs();
      const delBtn = $(".delBtn");
      const engine = $(".searchInput");
      const exitBtn = $(".exitSearch");
      const navBtnsContainer = $(".navigation");
      const selectAllInput = $(".selectAll input");
      delBtn.on("click", () => {
        delNote.trigger();
        selectAllInput.checked = false;
      });
      selectAllInput.on("input", e => this.selectAllNotes(e));
      navBtnsContainer.on("click", e => (this.isTabNavigatable ? this.navigate(e) : null));
      engine.on("keyup", e => this.fireEngine(e));
      exitBtn.on("click", () => this.closeSearch());
    }

    fireEngine(e) {
      const query = e.target.value.lower().trim();
      engine.query = query;
      engine.trigger();
      this.updateMatchedNum();
      $(".searchMatches").classList.remove("hide");
      if (!!query) {
        this.isTabNavigatable = false;
      } else {
        this.isTabNavigatable = true;
        this.closeSearch();
      }
    }

    updateMatchedNum() {
      const marks = $(".Notes__inner mark", true);
      const num = $(".matchesNum");
      if (marks.length > 20) return (num.textContent = "20+");
      num.textContent = marks.length;
    }

    closeSearch() {
      const container = $(".searchMatches");
      const input = $(".searchInput");
      container.classList.add("hide");
      input.value = "";
      engine.query = "";
      engine.trigger();
      this.isTabNavigatable = true;
      this.Tabs.selectLastOpenedTab();
    }

    navigate(e) {
      const slider = $(".Tabs .slider");
      const scroll = num => {
        slider.scrollBy({
          top: 0,
          left: num,
          behavior: "smooth",
        });
      };
      if (e.target.classList.contains("prevBtn")) {
        scroll(-125);
      } else if (e.target.classList.contains("nextBtn")) {
        scroll(125);
      }
    }

    selectAllNotes(e) {
      const checkboxs = $(".Notes__inner__note input", true);
      if (e.target.checked) {
        checkboxs.forEach(checkbox => (checkbox ? (checkbox.checked = true) : ""));
      } else {
        checkboxs.forEach(checkbox => (checkbox ? (checkbox.checked = false) : ""));
      }
    }
  }
</script>

<style lang="scss">
  .Search {
    position: absolute;
    left: 0;
    top: 50px;
    height: 50px;
    width: 100%;
    background: $offWhite;
    user-select: none;

    .navigation {
      padding: 0 10px;
      float: left;

      .prevBtn,
      .nextBtn {
        height: 30px;
        float: left;
        margin: 5px 0;
        padding: 5px;
        box-sizing: content-box;
        border-radius: 50%;
        transition: 0.1s background ease;

        &:hover {
          background: $border3;
        }

        img {
          pointer-events: none;
          height: 100%;
          vertical-align: bottom;
        }
      }
    }

    .selectAll {
      height: 30px;
      width: 30px;
      float: left;
      padding: 10px;
      box-sizing: content-box;

      label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        float: left;

        &:hover .check {
          background: $border3;
        }

        input {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;

          &:checked ~ .check {
            background: $green;
            border: 1px solid $green;

            &:after {
              opacity: 1;
            }
          }
        }

        .check {
          position: relative;
          width: 100%;
          height: 100%;
          background: $white;
          border: 1px solid $border3;
          transition: all 0.1s ease-in-out;
          float: left;
          border-radius: 50%;

          &:after {
            content: "";
            position: absolute;
            top: 6px;
            right: 10px;
            width: 8px;
            height: 14px;
            border: solid $white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            box-sizing: border-box;
            opacity: 0;
            transition: opacity 0.1s ease-in-out;
          }
        }
      }
    }

    .delBtn {
      height: 30px;
      float: left;
      padding: 10px;
      box-sizing: content-box;

      img {
        pointer-events: none;
        height: 100%;
        vertical-align: bottom;
      }
    }

    .searchInput {
      width: calc(100% - 206px);
      float: left;
      height: 40px;
      margin: 5px 0;
      border: 0;
      padding: 0 20px;
      border-radius: 20px;
      color: $mainTextColor;
      transition: background 0.3s ease-in-out;
      outline: none;

      &:hover {
        background-color: $offWhite;
      }
    }

    .searchMatches {
      position: absolute;
      top: 5px;
      right: 10px;
      height: 40px;
      line-height: 40px;
      background: $yellow;
      border-radius: 20px;
      padding: 0 10px;
      color: $white;
      &.hide {
        display: none;
      }
      .exitSearch {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $red;
        line-height: 25px;
        color: $white;
        margin-right: 5px;
      }
    }
  }
</style>
