@import "./styles/normalize.scss";
@import "./styles/mixins.scss";
@import "./styles/shared.scss";
@include font("./assets/fonts");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: $red;
  color: $white;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: $mainTextColor;
  mark {
    border-left: 3px solid $green;
    background: $yellow;
    padding-left: 1px;
  }
  a {
    text-decoration: none;

    &:active {
      @include btnAnimation;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin: 0;
    padding: 0;
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    &:active {
      @include btnAnimation;
    }
  }

  .one-light {
    @import "../src/styles/atom-one-light.scss";
  }

  &.darkMode {
    .Home,
    .Settings,
    .Add,
    .Features {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/bg.webp");
    }
    .Tabs {
      background: $mainTextColor !important;
      border-color: $mainTextColor !important;

      .innerTabs {
        .addTab {
          svg {
            fill: $white !important;
          }
          &:hover {
            background: $white !important;
            svg {
              fill: $mainTextColor !important ;
            }
          }
        }
      }
    }

    .one-dark {
      @import "../src/styles/atom-one-dark.scss";

      pre {
        background: $oneDark;
      }
    }
  }
}
